{% extends "base.html" %}

{% block page_title %}
Delete spending
{% endblock %}


{% block content %}
{% include 'includes/header.html' %}
<br>
<center><h2>Delete Post</h2></center>
<br><br>
<form class=" text-center" method="POST">
  {% csrf_token %}

  <p>Are you sure that you want to delete this post?</p>
  <br>
  <div>
    <button type="submit" class="btn btn-success">Yes, Delete</button>
    <a class="btn btn-danger" href="{% url 'finances:all-spendings' %}">Cancel</a>
  </div>
</form>

{% endblock %}
