{% extends "base.html" %}
{% load static %}

{% block page_title %}
Welcome to my site!
{% endblock %}

{% block content %}
{% include 'includes/header.html' %}

<br>
<center><h1>iBudget</h1></center>
<br>
<center><img src="{% static 'finances/images/homepage.png'%}" style="width:45rem;height:auto;">
</center>
<br>
<center><h1>Cash flow:</h1></center>
<br>
<br>
<div class="container text-center">
  <div class="row">
    <div class="col">

    <p><h2>Income total:</h2>
    <h4 class="text-success">RON {{total_income.amount__sum|floatformat:2}}</h4>
    </p>

    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-body">
        <h3>Incomes & Expenses Report:</h3>
        <h4>RON {{budget_left|floatformat:2}}</h4>
        </div>
      </div>
    </div>

    <div class="col">
    <p><h2>Expenses total:</h2>
    <h4 class="text-danger">RON {{total_expenses.amount__sum|floatformat:2}} </h4>
    </div>

  </div>
</div>
<br><br>
<figure class="text-center">
  <blockquote class="blockquote">
    <p>A budget tells us what we can’t afford, but it doesn’t keep us from buying it.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Source Title">William Feather</cite>
  </figcaption>
</figure>



{% endblock %}