{% extends "base.html" %}
{% load static %}

{% block page_title %}
Welcome to my site!
{% endblock %}

{% block content %}
{% include 'includes/header.html' %}

<br>
<center><h1>iBudget</h1></center>
<br>
<center><img src="{% static 'finances/images/homepage.png'%}" style="width:50rem;height:auto;">
</center>
<br><br>
<center><h1>Cash flow:</h1></center>
<br>
<br>
<div class="container text-center">
  <div class="row">
    <div class="col">

    <p><h2>Income total:</h2>
    <h4 class="text-success">RON {{total_income.amount__sum|floatformat:2}}</h4>
    </p>

    </div>

    <div class="col-6">
    <p><h3>Incomes & Expenses Report:</h3>
    <h4>RON {{budget_left|floatformat:2}}</h4>
    </p>
    </div>

    <div class="col">
    <p><h2>Expenses total:</h2>
    <h4 class="text-danger">RON {{total_expenses.amount__sum|floatformat:2}} </h4>
    </div>

  </div>
</div>


{% endblock %}