{% extends "base.html" %}
{% load static %}
{% block page_title %}
All Spendings
{% endblock %}


{% block content %}
{% include 'includes/header.html' %}

<br><br>

<div class=" text-center">

    <div class="row">
    <div class="col-2">
        <h2>Filter records:</h2>
        <br>
        <form method = 'GET' action="{% url 'finances:all-spendings' %}">
            {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>


            <div class="col-10">
                <div class="container">

                    <h2>All records:</h2>
                    <br>

<table class="table table-success table-striped table-hover">
    <thead>
    <tr>
        <th>Date:</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>

{% for spending in spendings_list %}

    <tbody>
    <tr class="clickable"
        onclick="window.location='{% url 'finances:edit-spending' spending.id %}'">
        <td>{{ spending.date_time|date:"d M, Y" }}</td>
        <td>{{ spending.category }}</td>
        <td>
            {% if spending.paid_with.name == 'ING' %}
            <strong class="text-warning">{{ spending.paid_with }}</strong>
            {% else %}
            <strong class="text-primary">{{ spending.paid_with }}</strong>
            {% endif %}
        </td>
        <td>{{ spending.location }}</td>
        <td>{{ spending.description }}</td>
        <td>{% if spending.record_type == 'expense'%}
            <strong class="text-danger">-RON {{ spending.amount }}</strong>
            {% else %}
            <strong class="text-success">RON {{ spending.amount }}</strong>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'finances:delete-spending' spending.id %}">
            <img src="{% static 'finances/images/delete.png'%}" style="width:1.5rem;height:1.5rem;">
            </a>
        </td>
    </tr>
    </tbody>

{% endfor%}
</table>

</div>
            </div>
  </div>
</div>




{% endblock %}